
header {
    text-align: center;
    background-color: #9063cd;
    padding: .5rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-item {
    display: inline;
    padding: 2rem;
}

body {
    display: block;
    margin: 0;
}

main {
    background-color: #addfb3;
    padding: .5rem;
}